{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Portafolio - Ricardo B. Vásquez R.</title>

<!-- Estilos base -->
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/variables.css' %}">
<link rel="stylesheet" href="{% static 'css/typography.css' %}">

<!-- Layout principal -->
<link rel="stylesheet" href="{% static 'css/global.css' %}">

<!-- Parciales -->
<link rel="stylesheet" href="{% static 'css/layout/Modo.css' %}">


<!-- Fuentes -->
<link rel="stylesheet" href="{% static 'fonts/poppins/poppins.css' %}">
<link rel="stylesheet" href="{% static 'fonts/fontawesome-free-6.1.2-web/css/all.min.css' %}">

<!-- Otros estilos -->
<link rel="stylesheet" href="{% static 'css/scroll.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

<link rel="stylesheet" href="{% static 'css/variables.css' %}">



<!-- Scripts JS -->
<script src="{% static 'js/menu.js' %}" defer></script>
<script src="{% static 'js/modo.js' %}" defer></script>
