{% load static %}


<aside class="layout__aside">
    <section class="aside__user-info">
        {% include 'partials/_user_info.html' %}
        {% include 'partials/_menu.html' %}
        {% include 'partials/_social_links.html' %}
        {% include 'partials/_modo.html' %}

        <!-- Botón de CV -->
        <div class="user-info__buttons">
            <a href="{% static 'pdf/Curriculum_Ricardo_B_Vasquez.pdf' %}" class="user-info__btn" target="_blank">
                Descarga CV
            </a>
        </div>


        {% include 'partials/_footer.html' %}
    </section>

</aside>
