<!-- Links de redes sociales -->
<div class="user-info__links">
    <ul class="links__social">
        <li class="social__option">
            <a href="https://github.com/tu_usuario" class="social_link" target="_blank">
                <i class="fa-brands fa-github social__icon"></i>
            </a>
        </li>
        <li class="social__option">
            <a href="https://www.linkedin.com/in/tu_usuario" class="social_link" target="_blank">
                <i class="fa-brands fa-linkedin-in social__icon"></i>
            </a>
        </li>
        <li class="social__option">
            <a href="https://discord.com/users/tu_usuario" class="social_link" target="_blank">
                <i class="fa-brands fa-discord social__icon"></i>
            </a>
        </li>
    </ul>
</div>