<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Portafolio - Ricardo B. Vásquez R.</title>
    <!-- Estilos -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/poppins/poppins.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-free-6.1.2-web/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/scroll.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <!--Scripts Js-->
    <script src="{% static 'js/menu.js' %}" defer></script>
</head>
<body>
    <!-- Layout principal -->
    <div class="layout">
        <!-- Barra lateral (info usuario) -->
        <aside class="layout__aside">
            <section class="aside__user-info">
                <!-- Información principal -->
                <div class="user-info__general">
                    <div class="user-info__container-image">
                        <img src="{{ profile.foto_perfil.url }}" alt="Foto de perfil de {{ profile.nombre_completo }}" class="user-info__image">
                    </div>
                    <h2 class="user-info__name">{{ profile.nombre_completo }}</h2>
                    <h4 class="user-info__job">{{ profile.titulo_profesional }}</h4>
                </div>
                <!-- Menú de navegación -->
                <nav class="layout__menu">
                    <ul class="menu__list">
                        <li class="menu__option">
                            <a href="{% url 'index' %}" class="menu__link menu__link--active">
                                <i class="fa-solid fa-house menu__icon menu__link--active"></i>
                                <span class="menu__overlay menu__link--active">Home</span>
                            </a>
                        </li>
                        <li class="menu__option">
                            <a href="{% url 'sobre-mi' %}" class="menu__link">
                                <i class="fa-solid fa-user menu__icon">
                                </i>
                                <span class="menu__overlay">Sobre Mi</span>
                            </a>
                        </li>
                        <li class="menu__option">
                            <a href="{% url 'curriculum' %}" class="menu__link">
                                <i class="fa-solid fa-graduation-cap menu__icon">
                                </i>
                                <span class="menu__overlay">Curriculum</span>
                            </a>
                        </li>
                        <li class="menu__option">
                            <a href="{% url 'portafolio' %}" class="menu__link">
                                <i class="fa-solid fa-briefcase menu__icon">
                                </i>
                                <span class="menu__overlay">Portafolio</span>
                            </a>
                        </li>
                        <li class="menu__option">
                            <a href="{% url 'blog' %}" class="menu__link">
                                <i class="fa-solid fa-book menu__icon">
                                </i>
                                <span class="menu__overlay">Blog</span>
                            </a>
                        </li>
                        <li class="menu__option">
                            <a href="{% url 'contacto' %}" class="menu__link">
                                <i class="fa-solid fa-envelope menu__icon">
                                </i>
                                <span class="menu__overlay">Contacto</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- Links de redes sociales -->
                <div class="user-info__links">
                    <ul class="links__social">
                        {% if profile.github_url %}
                        <li class="social__option">
                            <a href="{{ profile.github_url }}" class="social_link" target="_blank">
                                <i class="fa-brands fa-github social__icon"></i>
                            </a>
                        </li>
                        {% endif %}
                        {% if profile.linkedin_url %}
                        <li class="social__option">
                            <a href="{{ profile.linkedin_url }}" class="social_link" target="_blank">
                                <i class="fa-brands fa-linkedin-in social__icon"></i>
                            </a>
                        </li>
                        {% endif %}
                        {% if profile.discord_url %}
                        <li class="social__option">
                            <a href="{{ profile.discord_url }}" class="social_link" target="_blank">
                                <i class="fa-brands fa-discord social__icon"></i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- Botón de CV -->
                <div class="user-info__buttons">
                    {% if profile.cv_file %}
                    <a href="{{ profile.cv_file.url }}" class="user-info__btn" target="_blank">Descarga CV</a>
                    {% endif %}
                </div>
                <!-- Footer -->
                <footer class="user-info__footer">
                    &copy; 2024 {{ profile.nombre_completo }} WEB
                </footer>
            </section>
        </aside>

        <!--Menu responsive-->
        <div class="layout__menu-toggle">
            <i class="menu-toggle__icon fa-solid fa-bars"></i>
            <i class="menu-toggle__icon fa-solid fa-xmark"></i>
        </div>

        <!-- Contenido principal -->
        <main class="layout__content">
            <section class="content__page page__content">
                <h1 class="page__name">R. Benito Vasquez R.</h1>
                <h2 class="page__job">Desarrollador web</h2>
            </section>
        </main>
    </div>
</body>
</html>

