<nav class="portfolio__navbar">
    <ul class="portfolio__menu">
        <li class="portfolio__option {% if not request.GET.label %}portfolio__option--active{% endif %}">
            <a href="?" class="portfolio__link">Todo</a>
        </li>
        <li class="portfolio__option {% if request.GET.label == 'WEB' %}portfolio__option--active{% endif %}">
            <a href="?label=WEB" class="portfolio__link">Web</a>
        </li>
        <li class="portfolio__option {% if request.GET.label == 'DS' %}portfolio__option--active{% endif %}">
            <a href="?label=DS" class="portfolio__link">Data Science</a>
        </li>
        <li class="portfolio__option {% if request.GET.label == 'FIN' %}portfolio__option--active{% endif %}">
            <a href="?label=FIN" class="portfolio__link">Finanzas</a>
        </li>
    </ul>
</nav>

