{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/app/contacto/contact.css' %}">
<link rel="stylesheet" href="{% static 'css/app/contacto/ContactForm.css' %}">
<link rel="stylesheet" href="{% static 'css/app/contacto/ContactHeader.css' %}">
<link rel="stylesheet" href="{% static 'css/app/contacto/ContactInfo.css' %}">

<!--Scripts Js-->
<script src="{% static 'js/menu.js' %}" defer></script>
<script src="{% static 'js/map.js' %}" defer></script>



<main class="layout__content">
    <section class="content__page content__contact">
        {% include 'contacto/includes/header/header.html' %}

        <div class="contact__container">
            {% include 'contacto/includes/info/info.html' %}

            {% include 'contacto/includes/form-box/form-box.html' %}

        </div>
    </section>
</main>
{% endblock %}