{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/app/blog/blogHeader.css' %}">
<link rel="stylesheet" href="{% static 'css/app/blog/blogArticlesSection.css' %}">
<link rel="stylesheet" href="{% static 'css/app/blog/blogArticle1.css' %}">
<link rel="stylesheet" href="{% static 'css/app/blog/blogArticle2.css' %}">
<link rel="stylesheet" href="{% static 'css/app/blog/blogArticle3.css' %}">
<link rel="stylesheet" href="{% static 'css/app/blog/blogArticle4.css' %}">




<main class="layout__content">
    <section class="content__page content__blog">
        {% include 'blog/includes/header/header.html' %}
        {% include 'blog/includes/articles/articles.html' %}

    </section>
</main>
{% endblock %}