{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Portafolio - Ricardo B. Vásquez R.</title>

<!-- Estilos base -->
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/variables.css' %}">
<link rel="stylesheet" href="{% static 'css/typography.css' %}">

<!-- Layout principal -->
<link rel="stylesheet" href="{% static 'css/layout/Base.css' %}">

<!-- Parciales -->
<link rel="stylesheet" href="{% static 'css/layout/Userinfo.css' %}">
<link rel="stylesheet" href="{% static 'css/layout/SocialLinks.css' %}">
<link rel="stylesheet" href="{% static 'css/layout/CvButton.css' %}">
<link rel="stylesheet" href="{% static 'css/layout/Footer.css' %}">
<link rel="stylesheet" href="{% static 'css/layout/NavMenu.css' %}">
<link rel="stylesheet" href="{% static 'css/layout/Modo.css' %}">


<!-- Fuentes -->
<link rel="stylesheet" href="{% static 'fonts/poppins/poppins.css' %}">
<link rel="stylesheet" href="{% static 'fonts/fontawesome-free-6.1.2-web/css/all.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

<!-- Otros estilos -->
<link rel="stylesheet" href="{% static 'css/scroll.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

<!-- Scripts JS -->
<script src="{% static 'js/menu.js' %}" defer></script>
<script src="{% static 'js/modo.js' %}" defer></script>

  <!-- Script inline para setear la clase lo antes posible -->
<script>
    (function() {
      // 1. Revisar si el usuario ya guardó algo en localStorage
      var savedTheme = localStorage.getItem('theme'); // 'dark' | 'light' | null

      // 2. Si no hay nada guardado, detecta preferencia del sistema
      if (!savedTheme) {
        var prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
        savedTheme = prefersDark ? 'dark' : 'light';
      }

      // 3. Aplica la clase “dark-mode” si corresponde
      if (savedTheme === 'dark') {
        document.documentElement.classList.add('dark-mode');
      }
    })();
</script>