{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/app/portafolio/Header.css' %}">
<link rel="stylesheet" href="{% static 'css/app/portafolio/MainContent.css' %}">
<link rel="stylesheet" href="{% static 'css/app/portafolio/Navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/app/portafolio/Gallery.css' %}">
<link rel="stylesheet" href="{% static 'css/app/curriculum/ResumeRight.css' %}">


<main class="layout__content">
    <section class="content__page content__portfolio">
        {% include 'portfolio/includes/header/header.html' %}
        
        {% include 'portfolio/includes/navbar/navbar.html' %}

        {% include 'portfolio/includes/gallery/gallery.html' %}

    </section>
</main>
{% endblock %}