{% extends 'layouts/base.html' %}

    <!--Scripts Js-->
    <script src="{% static 'js/menu.js' %}" defer></script>
</head>
<body>
    <!-- Layout principal -->
    <div class="layout">
        <!-- Barra lateral (info usuario) -->
        <aside class="layout__aside">
            <section class="aside__user-info">
                <!-- Información principal -->
                <div class="user-info__general">
                    <div class="user-info__container-image">
                        {% if profile.foto_perfil %}
                            <img src="{{ profile.foto_perfil.url }}" alt="Foto de perfil de {{ profile.nombre_completo }}" class="user-info__image">
                        {% else %}
                            <img src="{% static 'img/default-user.jpg' %}" alt="Foto de perfil por defecto" class="user-info__image">
                        {% endif %}
                    </div>
                    <h2 class="user-info__name">{{ profile.nombre_completo|default:"R. Benito Vásquez R." }}</h2>
                    <h4 class="user-info__job">{{ profile.titulo_profesional|default:"Desarrollador Web" }}</h4>
                </div>
                <!-- Menú de navegación -->
                <nav class="layout__menu">
                    <ul class="menu__list">
                        <li class="menu__option">
                            <a href="{% url 'index' %}" class="menu__link">
                                <i class="fa-solid fa-house menu__icon">
                                </i>
                                <span class="menu__overlay">Home</span>
                            </a>
                        </li>
                        <li class="menu__option">
                            <a href="{% url 'sobre-mi' %}" class="menu__link">
                                <i class="fa-solid fa-user menu__icon">
                                </i>
                                <span class="menu__overlay">Sobre Mi</span>
                            </a>
                        </li>
                        <li class="menu__option">
                            <a href="{% url 'curriculum' %}" class="menu__link">
                                <i class="fa-solid fa-graduation-cap menu__icon">
                                </i>
                                <span class="menu__overlay">Curriculum</span>
                            </a>
                        </li>
                        <li class="menu__option">
                            <a href="{% url 'portafolio' %}" class="menu__link">
                                <i class="fa-solid fa-briefcase menu__icon ">
                                </i>
                                <span class="menu__overlay">Portafolio</span>
                            </a>
                        </li>
                        <li class="menu__option">
                            <a href="{% url 'blog' %}" class="menu__link menu__link--active">
                                <i class="fa-solid fa-book menu__icon menu__link--active">
                                </i>
                                <span class="menu__overlay menu__link--active">Blog</span>
                            </a>
                        </li>
                        <li class="menu__option">
                            <a href="{% url 'contacto' %}" class="menu__link">
                                <i class="fa-solid fa-envelope menu__icon">
                                </i>
                                <span class="menu__overlay">Contacto</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- Links de redes sociales -->
                <div class="user-info__links">
                    <ul class="links__social">
                        {% if profile.github_url %}
                        <li class="social__option">
                            <a href="{{ profile.github_url }}" class="social_link" target="_blank">
                                <i class="fa-brands fa-github social__icon"></i>
                            </a>
                        </li>
                        {% endif %}
                        {% if profile.linkedin_url %}
                        <li class="social__option">
                            <a href="{{ profile.linkedin_url }}" class="social_link" target="_blank">
                                <i class="fa-brands fa-linkedin-in social__icon"></i>
                            </a>
                        </li>
                        {% endif %}
                        {% if profile.discord_url %}
                        <li class="social__option">
                            <a href="{{ profile.discord_url }}" class="social_link" target="_blank">
                                <i class="fa-brands fa-discord social__icon"></i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- Botón de CV -->
                <div class="user-info__buttons">
                    {% if profile.cv_file %}
                    <a href="{{ profile.cv_file.url }}" class="user-info__btn" target="_blank">Descarga CV</a>
                    {% endif %}
                </div>
                <!-- Footer -->
                <footer class="user-info__footer">
                    &copy; 2024 {{ profile.nombre_completo }} WEB
                </footer>
            </section>
        </aside>

        <!--Menu responsive-->
        <div class="layout__menu-toggle">
            <i class="menu-toggle__icon fa-solid fa-bars"></i>
            <i class="menu-toggle__icon fa-solid fa-xmark"></i>
        </div>

        <!-- Contenido principal -->
        <!--Contenido que cambia por cada pagina-->
        <main class="layout__content">
            <section class="content__page content__blog">
                <header class="blog__header">
                    <h1 class="blog__title">Blog</h1>
                </header>
                <section class="blog__articles">
                    <article class="articles__article">
                        <div class="article__top">
                            <div class="article__category">Desarrollo</div>
                            <a href="#" class="article__image-link">
                                <div class="article__mask">
                                    <img src="{% static 'img/articulo-1.jpg' %}" alt="articulo1" class="article__image">
                                </div>
                                <div class="article__logo">
                                    <i class="article__icon fa-solid fa-book"></i>
                                </div>
                            </a>
                        </div>
                        <div class="article__bottom">
                            <time class="article__date" datetime="2024-08-30">30/08/2024</time>
                            <a href="#" class="article__link">
                                <h2 class="article__title">Como aprender a programar a 2024 </h2>
                            </a>
                        </div>
                    </article>

                    <article class="articles__article">
                        <div class="article__top">
                            <div class="article__category">Desarrollo</div>
                            <a href="#" class="article__image-link">
                                <div class="article__mask">
                                    <img src="{% static 'img/articulo-2.jpg' %}" alt="articulo2" class="article__image">
                                </div>
                                <div class="article__logo">
                                    <i class="article__icon fa-solid fa-book"></i>
                                </div>
                            </a>
                        </div>
                        <div class="article__bottom">
                            <time class="article__date" datetime="2024-08-30">30/08/2024</time>
                            <a href="#" class="article__link">
                                <h2 class="article__title">Como hacer animaciones en css </h2>
                            </a>
                        </div>
                    </article>

                    <article class="articles__article">
                        <div class="article__top">
                            <div class="article__category">Desarrollo</div>
                            <a href="#" class="article__image-link">
                                <div class="article__mask">
                                    <img src="{% static 'img/articulo-3.jpg' %}" alt="articulo3" class="article__image">
                                </div>
                                <div class="article__logo">
                                    <i class="article__icon fa-solid fa-book"></i>
                                </div>
                            </a>
                        </div>
                        <div class="article__bottom">
                            <time class="article__date" datetime="2024-08-30">30/08/2024</time>
                            <a href="#" class="article__link">
                                <h2 class="article__title">Cómo usar el LocalStorage en Js </h2>
                            </a>
                        </div>
                    </article>
                    
                    <article class="articles__article">
                        <div class="article__top">
                            <div class="article__category">Desarrollo</div>
                            <a href="#" class="article__image-link">
                                <div class="article__mask">
                                    <img src="{% static 'img/articulo-4.jpg' %}" alt="articulo4" class="article__image">
                                </div>
                                <div class="article__logo">
                                    <i class="article__icon fa-solid fa-book"></i>
                                </div>
                            </a>
                        </div>
                        <div class="article__bottom">
                            <time class="article__date" datetime="2024-08-30">30/08/2024</time>
                            <a href="#" class="article__link">
                                <h2 class="article__title">Como maquetar una web </h2>
                            </a>
                        </div>
                    </article>

                </section>
            </section>
        </main>
    </div>
</body>
</html>