/* Importar variables */

/*Contenido Generales (Sobre mi y otra paginas)*/
.content__portfolio {
    height: 100%;
    min-height: 100%;
    padding: 6rem 3rem;
    overflow: auto;
    display: block;
}
