@import url('../../../css/variables.css');

.portfolio__gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery__item {
    flex-basis: calc(33%);
    padding: 0.7rem;
    position: relative;
}

.gallery__container-image {
    overflow: hidden;
}

.gallery__image {
    transition: all 300ms ease-in-out;
    height: 90%;
}

.gallery__item:hover .gallery__image {
    transform: scale(1.1);
}

.gallery__title {
    font-size: 1.6rem;
    padding: 1.5rem 0;
    font-weight: bold;
}

.gallery__icon {
    opacity: 0;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.6rem;
    text-align: center;
    padding-top: 0.75rem;
    background-color: var(--color-principal);
    color: var(--color-secundary);
    transition: all 450ms ease-in-out;
}

.gallery__category {
    opacity: 0;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    padding: 0.2rem 0.7rem;
    font-size: 1.1rem;
    background-color: var(--color-principal);
    color: var(--color-text);
    transition: all 450ms ease-in-out;
}

.gallery__item:hover .gallery__icon,
.gallery__item:hover .gallery__category {
    opacity: 1;
}

.no-projects {
    text-align: center;
    margin: 2rem auto;
}

.no-projects__message {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-principal);
}

.sublabels__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.sublabels__option {
    padding: 0.4rem 1rem;
    margin: 0.3rem;
    font-size: 1.3rem;
    background-color: var(--color-secundary);
    border-radius: 0.3rem;
    color: var(--color-principal);
    font-weight: bold;
    transition: all 300ms ease-in-out;
}

.sublabels__option:hover {
    background-color: var(--color-principal);
    color: var(--color-secundary);
    cursor: pointer;
}
