{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/app/about/MainContent.css' %}">
<link rel="stylesheet" href="{% static 'css/app/about/PersonalInfo.css' %}">
<link rel="stylesheet" href="{% static 'css/app/about/Services.css' %}">
<link rel="stylesheet" href="{% static 'css/app/about/Reviews.css' %}">
<link rel="stylesheet" href="{% static 'css/app/about/Prices.css' %}">
<link rel="stylesheet" href="{% static 'css/app/about/Extra.css' %}">
<link rel="stylesheet" href="{% static 'css/app/about/Clients.css' %}">


<main class="layout__content">
    <section class="content__page content__about">
        {% include 'sobremi/includes/header/header.html' %}
        {% include 'sobremi/includes/about__personal/about__personal.html' %}
        {% include 'sobremi/includes/about__services/about__services.html' %}
        {% include 'sobremi/includes/about__prices/about__prices.html' %}
        {% include 'sobremi/includes/extras/extras.html' %}
    </section>
</main>
{% endblock %}