{% load static %}

<section class="portfolio__gallery">
    {% if projects %}
        {% for project in projects %}
        <figure class="gallery__item">
            <div class="gallery__container-image">
                <a href="{{ project.url|default:'#' }}" class="gallery__link" target="_blank" rel="noreferrer">
                    {% if project.image %}
                    <img src="{{ project.image.url }}" alt="{{ project.title }}" class="gallery__image">
                    {% else %}
                    <img src="{% static 'default_project_image.jpg' %}" alt="default image" class="gallery__image">
                    {% endif %}
                </a>
            </div>
            <figcaption class="gallery__title">{{ project.title }}</figcaption>
            <i class="gallery__icon fa-solid fa-project-diagram"></i>
            <span class="gallery__category">{{ project.date|date:"F Y" }}</span>
            <div class="knowledges__list">
                {% for tag in project.sublabels.all %}
                <span class="knowledges__option">{{ tag.name }}</span>
                {% endfor %}
            </div>
        </figure>
        {% endfor %}
    {% else %}
    <div class="no-projects">
        <p class="no-projects__message">No hay proyectos disponibles en este momento.</p>
    </div>
    {% endif %}
</section>


