<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Portafolio - Ricardo B. Vásquez R.</title>
    <!-- Estilos -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/poppins/poppins.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-free-6.1.2-web/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/scroll.css' %}">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">


    <!--Scripts Js-->
    <script src="{% static 'js/menu.js' %}" defer></script>
    <script src="{% static 'js/map.js' %}" defer></script>
</head>
<body>
    <!-- Layout principal -->
    <div class="layout">
        <!-- Barra lateral (info usuario) -->
        <aside class="layout__aside">
            <section class="aside__user-info">
                <!-- Información principal -->
                <div class="user-info__general">
                    <div class="user-info__container-image">
                        <img src="{% static 'img/default-user.jpg' %}" alt="Foto de perfil de usuario" class="user-info__image">
                    </div>
                    <h2 class="user-info__name">R. Benito Vásquez R.</h2>
                    <h4 class="user-info__job">Desarrollador Web</h4>
                </div>
                <!-- Menú de navegación -->
                <nav class="layout__menu">
                    <ul class="menu__list">
                        <li class="menu__option">
                            <a href="{% url 'index' %}" class="menu__link">
                                <i class="fa-solid fa-house menu__icon">
                                </i>
                                <span class="menu__overlay">Home</span>
                            </a>
                        </li>
                        <li class="menu__option">
                            <a href="{% url 'sobre-mi' %}"  class="menu__link">
                                <i class="fa-solid fa-user menu__icon">
                                </i>
                                <span class="menu__overlay">Sobre Mi</span>
                            </a>
                        </li>
                        <li class="menu__option">
                            <a href="{% url 'curriculum' %}" class="menu__link">
                                <i class="fa-solid fa-graduation-cap menu__icon">
                                </i>
                                <span class="menu__overlay">Curriculum</span>
                            </a>
                        </li>
                        <li class="menu__option">
                            <a href="{% url 'portafolio' %}"  class="menu__link">
                                <i class="fa-solid fa-briefcase menu__icon ">
                                </i>
                                <span class="menu__overlay">Portafolio</span>
                            </a>
                        </li>
                        <li class="menu__option">
                            <a href="{% url 'blog' %}" class="menu__link">
                                <i class="fa-solid fa-book menu__icon ">
                                </i>
                                <span class="menu__overlay">Blog</span>
                            </a>
                        </li>
                        <li class="menu__option">
                            <a href="{% url 'contacto' %}" class="menu__link">
                                <i class="fa-solid fa-envelope menu__icon menu__link--active">
                                </i>
                                <span class="menu__overlay menu__link--active">Contacto</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- Links de redes sociales -->
                <div class="user-info__links">
                    <ul class="links__social">
                        <li class="social__option"><a href="#" class="social_link"><i class="fa-brands fa-github social__icon"></i></a></li>
                        <li class="social__option"><a href="#" class="social_link"><i class="fa-brands fa-linkedin-in social__icon"></i></a></li>
                        <li class="social__option"><a href="#" class="social_link"><i class="fa-brands fa-discord social__icon"></i></a></li>
                    </ul>
                </div>
                <!-- Botón de CV -->
                <div class="user-info__buttons">
                    <a href="#" class="user-info__btn">Descarga CV</a>
                </div>
                <!-- Footer -->
                <footer class="user-info__footer">
                    &copy; 2024 Ricardo Benito Vásquez Roca WEB
                </footer>
            </section>
        </aside>
        <!--Menu responsive-->
        <div class="layout__menu-toggle">
            <i class="menu-toggle__icon fa-solid fa-bars"></i>
            <i class="menu-toggle__icon fa-solid fa-xmark"></i>
        </div>
        <!-- Contenido principal -->
        <!--Contenido que cambia por cada pagina-->
        <main class="layout__content">
            <section class="content__page content__contact">
                <header class="contact__header">
                    <h1 class="contact__title">Contacto</h1>
                </header>
                <div class="contact__container">
                    <section class="contact__info">
                        <div class="contact__data">
                            <i class="contact__icon fa-solid fa-location-dot"></i>
                            <h2 class="contact__subtitle">Bolivia</h2>
                        </div>
                        <div class="contact__data">
                            <i class="contact__icon fa-solid fa-phone"></i>
                            <h2 class="contact__subtitle">591+ 76665627</h2>
                        </div>
                        <div class="contact__data">
                            <i class="contact__icon fa-solid fa-envelope"></i>
                            <h2 class="contact__subtitle">benitosvasquez1998@gmail.com</h2>
                        </div>
                        <div class="contact__data">
                            <i class="contact__icon fa-solid fa-circle-check"></i>
                            <h2 class="contact__subtitle">Desarrollador Freelancer</h2>
                        </div>
                    </section>
                    <section class="contact__form-box">
                        <div class="contact__map" id="load-iframe-map">
                            <span class="loader"></span>
                        </div>
                        <header class="contact__form-header">
                            <h3 class="form-header__title">¿Como Puedo <span class="title__color">Ayudarte?</span></h3>
                        </header>
                        <form  class="contact__form">
                            <div class="form__container">
                                <section class="form__left">
                                    <div class="form__group">
                                        <input type="text" class="form__input" name="name" required placeholder="Nombre">
                                        <label for="name" class="form__label">Nombre</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="email" class="form__input" name="email" required placeholder="Email">
                                        <label for="email" class="form__label">Email</label>
                                    </div>
                                    <div class="form__group">
                                        <input type="text" class="form__input" name="subject" required placeholder="Asunto">
                                        <label for="subject" class="form__label">Asunto</label>
                                    </div>
                                </section>
                                <section class="form__right">
                                    <div class="form__group form__group--textarea">
                                        <textarea name="message" class="form__input form__input--textarea" required placeholder="Mensaje"></textarea>
                                        <label for="mensaje" class="form__label">Mensaje</label>
                                    </div>
                                </section>
                            </div>
                        </form>
                        <input type="submit" class="form__button" value="Enviar Mensaje">

                    </section>
                </div>
            </section>
        </main>
    </div>
</body>
</html>