{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<main class="layout__content">
    <section class="content__page content__resume">
        <header class="resume__header">
            <h1 class="resume__title">Curriculum</h1>
        </header>
        <div class="resume__container">
            <section class="resume__left">
                <header class="resume__subheader">
                    <h2 class="resume__subtitle">Formación</h2>
                </header>
                <div class="resume__timelines">
                    <article class="timelines__timeline">
                        <header class="timeline__header">
                            <h4 class="timeline__year">2016-2022</h3>
                            <span class="timeline__company">Universidad Autonoma Gabriel Rene Moreno</span>
                        </header>
                        <div class="timeline__divide">

                        </div>
                        <div class="timeline__description">
                            <h3 class="timeline__title">Ingeneria Financiera</h3>
                            <p class="timeline__text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                            </p>
                        </div>
                    </article>
                    <article class="timelines__timeline">
                        <header class="timeline__header">
                            <h4 class="timeline__year">2021-2023</h3>
                            <span class="timeline__company">Universidad Autonoma Gabriel Rene Moreno</span>
                        </header>
                        <div class="timeline__divide">

                        </div>
                        <div class="timeline__description">
                            <h3 class="timeline__title">Economista</h3>
                            <p class="timeline__text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                            </p>
                        </div>
                    </article>
                    <article class="timelines__timeline">
                        <header class="timeline__header">
                            <h4 class="timeline__year">2023</h3>
                            <span class="timeline__company">Coursera</span>
                        </header>
                        <div class="timeline__divide">

                        </div>
                        <div class="timeline__description">
                            <h3 class="timeline__title">Especialidad Analista de datos</h3>
                            <p class="timeline__text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                            </p>
                        </div>
                    </article>
                </div>

                <header class="resume__subheader">
                    <h2 class="resume__subtitle">Experiencia</h2>
                </header>
                    <div class="resume__timelines">
                        <article class="timelines__timeline">
                            <header class="timeline__header">
                                <h4 class="timeline__year">2017 - 2019</h3>
                                <span class="timeline__company">Torneria Vasquez S.R.L.</span>
                            </header>
                            <div class="timeline__divide">

                            </div>
                            <div class="timeline__description">
                                <h3 class="timeline__title">Auxiliar Contable</h3>
                                <p class="timeline__text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                </p>
                            </div>
                        </article>
                        <article class="timelines__timeline">
                            <header class="timeline__header">
                                <h4 class="timeline__year">2021 - 2024</h3>
                                <span class="timeline__company">Asesoria de Tesis Rocha S.R.L.</span>
                            </header>
                            <div class="timeline__divide">

                            </div>
                            <div class="timeline__description">
                                <h3 class="timeline__title">Asesor Academico Financiero</h3>
                                <p class="timeline__text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                </p>
                            </div>
                        </article>
                    </div>
                </header>
            </section>

            <section class="resume__right">
                <header class="resume__subheader">
                    <h2 class="resume__subtitle">Habilidades de <span class="subtitle__color">Frotend</span></h2>
                </header>
                <div class="resume__skills">
                    <article class="skills__title">
                        <h4 class="skills__text">Desarrollo de Interfaces de Usuario (UI)</h4>
                        <span class="skills__number">40%</span>
                    </article>
                    <div class="skills__progressbar">
                        <div class="skills__percentage skills__percentage--40"></div>
                    </div>
                    <article class="skills__title">
                        <h4 class="skills__text">Maquetacion Web</h4>
                        <span class="skills__number ">80%</span>
                    </article>
                    <div class="skills__progressbar">
                        <div class="skills__percentage skills__percentage--80"></div>
                    </div>
                    <article class="skills__title">
                        <h4 class="skills__text">Programador Web</h4>
                        <span class="skills__number">70%</span>
                    </article>
                    <div class="skills__progressbar">
                        <div class="skills__percentage skills__percentage--70"></div>
                    </div>
                    <article class="skills__title">
                        <h4 class="skills__text">Optimización Web</h4>
                        <span class="skills__number">10%</span>
                    </article>
                    <div class="skills__progressbar">
                        <div class="skills__percentage skills__percentage--10"></div>
                    </div>
                </div>
                <header class="resume__subheader">
                    <h2 class="resume__subtitle">Habilidades de <span class="subtitle__color">Backend</span></h2>
                </header>
                <div class="resume__skills">
                    <article class="skills__title">
                        <h4 class="skills__text">Creador de APis</h4>
                        <span class="skills__number">30%</span>
                    </article>
                    <div class="skills__progressbar">
                        <div class="skills__percentage skills__percentage--30"></div>
                    </div>
                    <article class="skills__title">
                        <h4 class="skills__text">Administrador de base de datos</h4>
                        <span class="skills__number">80%</span>
                    </article>
                    <div class="skills__progressbar">
                        <div class="skills__percentage skills__percentage--80"></div>
                    </div>
                    <article class="skills__title">
                        <h4 class="skills__text">Administrador de servidor</h4>
                        <span class="skills__number">70%</span>
                    </article>
                    <div class="skills__progressbar">
                        <div class="skills__percentage skills__percentage--70"></div>
                    </div>
                    <article class="skills__title">
                        <h4 class="skills__text">Testing</h4>
                        <span class="skills__number">20%</span>
                    </article>
                    <div class="skills__progressbar">
                        <div class="skills__percentage skills__percentage--20"></div>
                    </div>
                </div>
                <header class="resume__subheader">
                    <h2 class="resume__subtitle">Areas de Conocimientos</h2>
                </header>   
                <div class="resume__knowledges">
                    <ul class="knowledges__list">
                        <li class="knowledges__option">Analisis Financieros</li>
                        <li class="knowledges__option">Portafolios Financieros</li>
                        <li class="knowledges__option">Extración de datos</li>
                        <li class="knowledges__option">Limpieza de datos</li>
                        <li class="knowledges__option">Analisis de datos</li>
                        <li class="knowledges__option">Modelación de datos</li>
                        <li class="knowledges__option">Visualización de datos</li>
                    </ul>
                </div>

            </section>
        </div>
        <div class="resume__certificates">
            <header class="resume__subheader">
                <h2 class="resume__subtitle">Certificados</h2>
            </header>
            <section class="certificates__container">
                <article class="certificates__certificate">
                    <div class="certificate__logo">
                        <img src="{% static 'img/certificado-1.png' %}" alt="Master en Html, CSS y Js" class="certificate__image">
                    </div>
                    <div class="certificate_content">
                        <h4 class="certificate__title">Master en Html, CSS y Js</h4>
                        <span class="certificate__id">ID Verificación: 13459</span>
                        <span class="certificate__date">10 de Junio de 2024</span>
                    </div>
                </article>
                <article class="certificates__certificate">
                    <div class="certificate__logo">
                        <img src="{% static 'img/certificado-1.png' %}" alt="Especialidad en Analista de datos" class="certificate__image">
                    </div>
                    <div class="certificate_content">
                        <h4 class="certificate__title">Especialidad en Analista de datos</h4>
                        <span class="certificate__id">ID Verificación: 13459</span>
                        <span class="certificate__date">10 de Junio de 2024</span>
                    </div>
                </article>
            </section>
        </div>
    </section>
</main>
{% endblock %}