{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/app/curriculum/MainContent.css' %}">
<link rel="stylesheet" href="{% static 'css/app/curriculum/ResumeCertificates.css' %}">
<link rel="stylesheet" href="{% static 'css/app/curriculum/ResumeLeft.css' %}">
<link rel="stylesheet" href="{% static 'css/app/curriculum/ResumeRight.css' %}">

<main class="layout__content">
    <section class="content__page content__resume">
        <!-- Header -->
        {% include 'curriculum/includes/header/header.html' %}
        <!-- Main Content -->
        <div class="resume__container">
            <!-- Left Section -->
            <section class="resume__left">
                <!-- Education -->
                {% include 'curriculum/includes/education/education.html' %}

                <!-- Experience -->
                {% include 'curriculum/includes/experience/experience.html' %}

            <!-- Right Section -->
            <section class="resume__right">
                <!-- Skills -->
                {% include 'curriculum/includes/skills/skills.html' %}

                <!-- Knowledge Areas -->
                {% include 'curriculum/includes/knowledge/knowledge.html' %}
            </section>
        </div>
        <!-- Certificates -->
        {% include 'curriculum/includes/certificates/certificates.html' %}

    </section>
</main>
{% endblock %}
