{% load static %}

<section class="blog__articles">
    {% if posts %}
        {% for post in posts %}
        <article class="articles__article">
            <div class="article__top">
                <div class="article__category">Desarrollo</div>
                <a href="{% url 'blog:post_detail' post.id %}" class="article__image-link">
                    <div class="article__mask">
                        {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="article__image">
                        {% else %}
                        <img src="{% static 'img/default_post_image.jpg' %}" alt="{{ post.title }}" class="article__image">
                        {% endif %}
                    </div>
                    <div class="article__logo">
                        <i class="article__icon fa-solid fa-book"></i>
                    </div>
                </a>
            </div>
            <div class="article__bottom">
                <time class="article__date" datetime="{{ post.date|date:'Y-m-d' }}">{{ post.date|date:'d/m/Y' }}</time>
                <a href="{% url 'blog:post_detail' post.id %}" class="article__link">
                    <h2 class="article__title">{{ post.title }}</h2>
                </a>
            </div>
        </article>
        {% endfor %}
    {% else %}
    <div class="no-posts">
        <p class="no-posts__message">No hay blogs disponibles en este momento.</p>
    </div>
    {% endif %}
</section>
